.mechanism-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 751px;
  height: 209px;
  margin-bottom: 1rem;
  position: relative;
  gap: 17px;
}

.mechanism-card img {
  width: 55px;
  height: 54px;
}

.mechanism-card .title {
  font-size: 18px;
  font-weight: 700;
  color: #007CBD;
  font-family: Montserrat;
  line-height: 1.05;
  margin-bottom: 0.5rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.mechanism-card .time {
  font-size: 14px;
  font-weight: 400;
  color: #007CBD;
  font-family: Montserrat;
  margin-top: 0.5rem;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mechanism-card .content {
  color: #1B1E28;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

.mechanism-card .flex > img {
  margin-right: 10px;
}

.mechanism-card .flex > .ml-4 {
  margin-left: 10px;
}

/* Responsive Styles */

@media (max-width: 1023px) { /* iPad landscape and smaller */
  .mechanism-card {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mechanism-card img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) { /* Mobile devices */
  .mechanism-card {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mechanism-card img {
    margin-bottom: 1rem;
  }
}
